<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Relatórios</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>

<body>

<div class="sidebar">
    <h2>WD Works</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/clientes">Clientes</a>
    <a href="/venda">Vendas</a>
    <a class="ativo" href="/relatorio">Relatórios</a>
</div>

<div class="conteudo">

    <header>
        <h1>Relatórios</h1>
    </header>

    <div class="cards">

        <div class="card">
            <h2>Vendas Hoje</h2>
            <p>15</p>
        </div>

        <div class="card">
            <h2>Vendas Semana</h2>
            <p>80</p>
        </div>

        <div class="card">
            <h2>Vendas Mês</h2>
            <p>320</p>
        </div>

    </div>

</div>

</body>
</html>